@model DienMayQuyetTien.Models.News

@{
    ViewBag.Title = "Tin tức";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Điện Máy Quyết Tiến</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/frontend/style.css" rel="stylesheet" />
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand smoothScroll"><img src="~/Images/logo.png" height="60px"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home" class="smoothScroll">TRANG CHỦ</a></li>
                    <li><a href="/Home/About" class="smoothScroll">GIỚI THIỆU</a></li>
                    <li><a href="/Home/Buy" class="smoothScroll">HƯỚNG DẪN MUA HÀNG</a></li>
                    <li><a href="/Home/News" class="smoothScroll">TIN TỨC</a></li>
                    <li><a href="/Home/Contact" class="smoothScroll">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 30px; background-color:#fff">
        <div class="row">

            <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->

            <div class="col-md-9" id="blog-post">


                <p class="text-muted text-uppercase mb-small text-right">January 03, 2018</p>

                <div id="post-content">


                    <h2>Cách chọn hộp quà tặng đựng rượu</h2>


                    <p>Rượu luôn là sản phẩm đặc biệt mà người ta dùng để tặng đối tác hay những người bạn thân thiết. Men rượu cũng chính là men tình vì thế mà có rất nhiều loại rượu được sử dụng như là món quà tình cảm mà người ta muốn dành đến nhau. Tuy nhiên tặng rượu không giống như những thứ khác, rượu sang trọng phải được đựng trong một chiệc hộp tương xứng. Mua hộp đựng rượu chất lượng không phải chỗ nào cũng có. Vậy bạn đã biết gì về hộp đựng rượu?</p>



                    <p>
                        <img src="../../Images/new1.jpg" class="img-responsive">
                    </p>

                    <p>Hộp đựng rượu không chỉ là chiếc hộp bình thường mà nó còn thể hiện đẳng cấp của chai rượu. Người ta thường tặng nhau những chai rượu mắc tiền và chất lượng bởi thế nên ngay từ món quà đã có giá trị không nhỏ. Với những món quà như thế thì bạn nên chọn những chiếc hộp có chất lượng và mua ở những điểm có uy tín. Hộp đựng rượu có rất nhiều loại như hộp da hoặc hộp gỗ. Tùy vào kích cỡ của chai rượu và sở thích của đối tác mà bạn lựa chọn sao cho phù hợp. Nên lưu ý rằng chất liệu hộp có vai trò quan trọng trong việc bảo quản chai rượu của bạn đấy. Đối với hộp quà tặng làm bằng gỗ thì sẽ đem đến cho chai rượu của bạn một cảm giác an toàn và chắn chắc, đôi khi là cả sự vững chãi nữa. Còn hộp quà đựng rượu bằng da thì lại khác với hộp quà đựng rượu loại này bạn sẽ thấy chai rượu của mình sang trọng và lịch thiệp hơn. Ưu điểm của những hộp đựng rượu bằng da đó chính là gọn nhẹ, dễ đem theo, không cồng kềnh như hộp đựng rượu bằng gỗ.</p>
                    <strong>Bảo quản chai rượu tốt</strong>
                    <p>
                        <img src="img/new1a.jpg" class="img-responsive">
                    </p>
                    <p>
                        Mục đích của việc sử dụng hộp quà đựng rượu đó chính là làm cho chai rượu của mình đẹp và trang trọng hơn, không những thế nó còn giúp chai rượu của bạn được cố định một vị trí không bị xốc hay lắc trong quá trình di chuyển. Chính vì thế mà khi chọn hộp quà đựng rượu bạn cũng nên chọn kích cỡ và kiểu dáng phù hợp với chai rượu của mình. Một hộp quà tặng vừa vặn với chai rượu là tốt nhất. Không nên mua hộp quà quá nhỏ hoặc quá to sẽ làm mất thẫm mĩ cũng như hiệu quả bảo vệ chai rượu không cao.
                    </p>

                    <p>Kiểu dáng của hộp quà đựng rượu cũng là một yếu tố quan trọng mà bạn không nên bỏ qua. Kiểu dáng làm nên nét đẹp của chai rượu. Ngày nay hộp quà đựng rượu được thiết kế vô cùng tinh tế từ kiểu dáng đến mẫu mã vì thế mà bạn có thể cân nhắc chọn một hộp quà đựng rượu phù hợp với món quà của mình.</p>

                    <p>
                        <strong>My Wine Store</strong> là một địa điểm thú vị nếu bạn muốn mua hộp quà đựng rượu đấy, tại cửa hàng của chúng tôi có rất nhiều loại hộp với đa dạng kiểu dáng, màu sắc cũng như chất liệu để bạn lựa chọn. Chỉ cần bạn muốn chúng tôi sẽ giao hàng đến tận nhà trong tích tắc kèm theo đó là những khuyến mãi hấp dẫn trong dịp tết đến. Chúng tôi tin rằng những hộp quà của mình sẽ không làm bạn hối hận.
                    </p>

                </div>
                <!-- /#post-content -->




            </div>
        </div>
    </div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0537'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</html>


