@model DienMayQuyetTien.Models.ProductType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Employee/Views/Shared/_EmpLayout.cshtml";
}
<h3>Bạn có chắc chắn muốn xóa loại sản phẩm này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" align="center" style="  border: 1px solid;
            padding: 10px;
                box-shadow: 5px 5px #888888;border-radius: 15px; width:500px;">
        <h2>Xóa loại sản phẩm</h2>
        <dt>
            Mã loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeCode)
        </dd>

        <dt>
            Tên loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-danger">Xóa</button> |
                    @Html.ActionLink("Hủy", "Index")
                </div>
            }
        </dd>

    </dl>

</div>
